<html>
<head> 
 <title>Pairing</title>
 <link rel="stylesheet" href="css/style.css">
</head>
<script>
    function generate() {

        var a = 1 //parseInt(document.getElementById("nochapter").value);
        var ch = document.getElementById("listOfNames");

        for (i = 0; i < a; i++) {
            var input = document.createElement("input");
            input.type = "text";
            input.name = "text[]";
            input.id = "classname";
            input.required = true;
            document.getElementById("listOfNames").appendChild(input).value;
        }
    }
    </script>
    <body>
    <div id="mmpic">
 <img src='../img/mm.resized.jpg'>
</div>
<div id="navbar">
            <ul id="thelist">
                <li><a href="http://localhost:4567/about">About</a></li>
                <li><a href="http://www.minedminds.org/contact">Contacts</a></li>
                <li> <a href="/pairing">Pair Generator</a></li>
                    <div class="dropdown">
                    <button class="dropbtn">Links</button>
                     <div class="dropdown-content">
    
                        <a href="https://www.google.com/"target ="-blank">Search</a>
                        <a href="http://www.minedminds.org/" target ="-blank">Our Partner</a>
                        <a href="https://stackoverflow.com/" target ="-blank">Resources</a>
                    </div>
    </div> 
            </ul>
</div>
<div id="pairinput">
How many people would you like to  pair?
        <form method="post" action="/pairing">
            <//input type="text" id="nochapter" />
            <input type="button" value="Press for boxes!" name="classname" onclick="generate()" />
            <div id="listOfNames"></div>
            <input type = "submit" value = "Continue">
        </form>
 </div>

    </body>
</html>